/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 1, 2020, 2:23:28 PM
    Author     : evgenia
*/
body{
    background-color: #e1e1e1;
}
.form-wrapper{
    border-radius:7px;
}
.form-wrapper label{
    text-weight:bold;
}
.alert.alert-danger>ul>li{
    list-style-type: none;
    width:100%;
    text-align: center;
        
}
.alert.alert-danger>ul{
    padding-left:0;
    margin-bottom: 0;
    list-style-type: none;
}

@media(max-width:760 px){
    .form-wrapper text-alifn{
        text-align: center !important;
    }
    .form-wrapper btn-primary{
        display: block;
        margin: 0 auto;
    }
}
